# Environment variables
.env

# Python
__pycache__/
*.pyc
.venv/
virtualenv/

# Docker
docker-compose.override.yml

# Host-mounted data volumes
n8n_data/
postgres_data/

# Helm values file
k8s/app-chart/values.yaml
